# Projects
Products/*/*.lib
Products/*/*.lib
Projects/JPEG/Release
Projects/JPEG/Source/Release
Projects/JPEG/Source/Debug

Projects/PNG/projects/vstudio/Release
Projects/PNG/projects/vstudio/*/Release
Projects/PNG/projects/vstudio/Release Library/
Projects/PNG/projects/vstudio/libpng/Release Library
Projects/PNG/projects/vstudio/pnglibconf/Release
Projects/PNG/projects/vstudio/pngstest/Release Library
Projects/PNG/projects/vstudio/pngtest/Release Library
Projects/PNG/projects/vstudio/pngunknown/Release Library
Projects/PNG/projects/vstudio/pngvalid/Release Library
Projects/PNG/projects/vstudio/Release Library
Projects/PNG/projects/vstudio/zlib/Release Library


# Vim
*.swp
*.swo

# Visual Studio
.vs
*.vcxproj.user
